/* Font */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variable Declaration */
:root {
  --primary-text: #f1f5e9;
  --secondary-text: #BACBD9;
  --tertiary-text: #085574;
  --primary-color: #2C3639;
  --secondary-color: #3D8361;
  --tertiary-color: #1C6758;
  --accent-color: #7fceb1;
  --border-color: #314E59;
}

/* Body Element */
body {
  font-family: 'League Spartan', sans-serif;
}

/* Header Elements */
nav {
  background-color: var(--primary-color);
  color: var(--primary-text);
  padding: 2em 0em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5em solid var(--border-color);
}

.portfolio-name-box {
  background-color: var(--secondary-color);
  height: auto;
  width: auto;
  padding: 1em;
  text-align: center;
  border-top: 0.2em solid var(--tertiary-color);
  border-right: 0.3em solid var(--tertiary-color);
  border-bottom: 0.4em solid var(--tertiary-color);
  border-radius: 0em 1em 1em 0em;
}

.portfolio-name-box h1 {
  margin-left: 4em;
  margin-right: 1em;
}

.portfolio-nav-box {
  background-color: var(--secondary-color);
  height: auto;
  width: auto;
  padding: 0.5em;
  border-top: 0.2em solid var(--tertiary-color);
  border-left:0.3em solid var(--tertiary-color);
  border-bottom: 0.4em solid var(--tertiary-color);
  border-radius: 1em 0em  0em 1em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  padding: 0.5em;
}

nav a {
  margin: 0.5em;
  color: var(--primary-text);
  padding: 0em 2em;
  position: relative;
  text-decoration: none;
}

nav a::after {
  content: '';
  display: block;
  height: 0.25em;
  position: absolute;
  bottom: -.5em;
  left: 0;
  right: 0;
  background: var(--primary-text);
  transform: scale(0, 1);
  transition: transform ease-in-out 250ms;
}

nav a:hover {
  color: var(--secondary-text);
}

nav a:hover::after {
  background: var(--secondary-text);
  transform: scale(1, 1);
}

/* Backdrop Elements */
.backdrop {
  background-color: var(--accent-color);
  background-image: url("../images/backdrop-photo-resized.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 10em 0em;
  overflow: hidden;
}

.backdrop-subtitle {
  background-color: var(--primary-color);
  color: var(--secondary-text);
  width: auto;
  position: absolute;
  bottom: 2em;
  right: 0;
  padding: 1.5em 6em;
  border: 0.2em solid var(--border-color);
  border-radius: 1em 0em 0em 1em;
  animation: 3s ease-in-out 0s 1 slide-in-from-left;
}

/* Main Elements */
main {
  background-color: var(--accent-color);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-top: 0.5em solid var(--border-color);
}

.main-section {
  display: flex;
  align-items: center;
}

.main-section h2 {
  padding: 0.5em;
  margin: 0;
  text-align: right;
  line-height: 1.25em;
  font-size: 4em;
  border-right: 0.1em solid black;
}

.main-section p {
  margin: 1.5em;
  text-align: center;
  line-height: 1.2rem;
}

.about-me {
  margin: 1em 0em;
}

.about-me-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hello {
  background-color: var(--secondary-color);
  color: var(--primary-text);
  width: fit-content;
  font-size: 2em;
  margin-bottom: 0.25em;
  padding: 0.5em;
  border: 0.1em solid var(--border-color);
  border-radius: 0.4em;
  box-shadow: 0em 0.1em 0.6em 0.2em var(--border-color);
}

.name-span {
  color: var(--tertiary-text);
  font-size: 1.2em;
}

.portrait {
  height: auto;
  width: auto;
  margin: 1em;
  margin-right: 1.75em;
}

.my-image {
  border: 0.2em solid var(--border-color);
  border-radius: 1em;
}

.projects-grid {
  width: 100em;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  margin: 1.75em;
}

.grid-span-2 {
  grid-column: span 2;
}

.projects-grid section {
  border: 0.4em solid var(--border-color);
}

.project-background {
  background-color: var(--accent-color);
  color: var(--primary-text);
  height: 20em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.project-background:hover {
  cursor: pointer;
  transform: scale(1.01, 1.01);
  filter: sepia(40%);
  transition: transform ease-in-out 500ms;
  transition: filter 500ms;
}

.project-1 {
  background-image: url("../images/project-photo-1-resized.jpg");
  height: 40em;
}

.project-2 {
  background-image: url("../images/project-photo-2-resized.jpg");
}

.project-3 {
  background-image: url("../images/project-photo-3-resized.jpg");
}

.project-4 {
  background-image: url("../images/project-photo-4-resized.jpg");
}

.project-5 {
  background-image: url("../images/project-photo-5-resized.jpg");
}

.project-subtitle {
  background-color: var(--secondary-color);
  color: var(--secondary-text);
  width: auto;
  position: absolute;
  bottom: 2em;
  left: 0;
  padding: 0.5em 1em;
  border-top: 0.2em solid var(--border-color);
  border-right: 0.3em solid var(--border-color);
  border-bottom: 0.4em solid var(--border-color);
  border-radius: 0em 1em 1em 0em;
}

.contact-me {
  margin: 2em 0em;
}

.contact-flex {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0.75em;
}

.contact-flex h5 {
  margin: 0.75em;
  font-size: 2em;
  position: relative;
}

.contact-flex h5::after {
  content: '';
  display: block;
  height: 0.2em;
  position: absolute;
  bottom: -.5em;
  left: 0;
  right: 0;
  background: #242222;
  transform: scale(0, 1);
  transition: transform ease-in-out 250ms;
}

.contact-flex h5:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
  transition: transform ease-in-out 500ms;
}

.contact-flex h5:hover::after {
  background: black;
  transform: scale(1, 1);
}

.contact-flex a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

/* Footer Elements */
footer {
  background-color: var(--primary-color);
  color: var(--primary-text);
  padding: 2em;
  text-align: center;
  border-top: 0.5em solid var(--border-color);
}

/* Animations */
@keyframes slide-in-from-left {
  0% {
    transform: translateX(100%);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

/* Media Queries */
@media screen and (max-width: 1260px) {

  /* Header Elements @ Media Query 1 */
  nav {
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  
  .portfolio-name-box {
    width: 100%;
    border: none;
    border-radius: 0;
    font-size: 1.75em;
  }
  
  .portfolio-name-box h1 {
    margin: 0.5em;
  }

  .portfolio-nav-box {
    width: 100%;
    background-color: var(--primary-color);
    padding: 0.5em;
    border: none;
    border-radius: 0;
  }

  /* Backdrop Elements @ Media Query 1 */
  .backdrop {
    padding: 8em 0em;
  }

  .backdrop-subtitle {
    padding: 1em 1em;
  }

  /* Main Elements @ Media Query 1 */
  .main-section {
    flex-direction: column;
  }

  .main-section h2 {
    padding: 0.1em;
    margin: 0.1em;
    line-height: 1.25em;
    font-size: 3em;
    border-right: none;
    border-bottom: 0.1em solid black;
  }

  .about-me {
    margin: 1em 0em;
  }

  .about-me-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hello {
    display: none;
  }

  .projects-grid {
    width: 80%;
  }

  .project-subtitle {
    left: -0.175em;
    padding: 0em;
    border: 0.2em solid var(--border-color);
  }

  .contact-flex {
    width: 100%;
    padding: 0.75em;
  }

  .contact-flex h5 {
    margin: 0.5em;
    font-size: 1.25em;
  }

}

@media screen and (max-width: 665px) {
  main {
    background-color: red;
  }

  /* Header Elements @ Media Query 1 */
  .portfolio-name-box {
    font-size: 1.5em;
  }

  /* Backdrop Elements @ Media Query 1 */
  .backdrop {
    padding: 6em 0em;
  }

  .backdrop-subtitle {
    padding: 0.5em 0.5em;
  }

  .projects-grid {
    gap: 0.5em;
    grid-template-columns: 1fr;
  }

  .grid-span-2 {
    grid-column: span 1;
  }

}

/* HOW TO SET MIN WIDTH? */